DATABASE_URL="DB_URL"
DB_USER="DB_USERNAME"
DB_PASSWORD="DB_PASSWORD"
DB_NAME="DB_NAME"

GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="GOOGLE_CLIENT_SECRET"
GOOGLE_CLIENT_ID_MOBILE="GOOGLE_CLIENT_ID_MOBILE"

# supertokens db config
POSTGRES_USER="supertokens_user"
POSTGRES_PASSWORD="supertokens_password"
POSTGRES_DB="supertokens_db_name"

# admin
email_admin="ADMIN_EMAIL"

#aws s3 config
AWS_ACCESS_KEY_ID="AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="AWS_SECRET_ACCESS_KEY"
AWS_DEFAULT_REGION="YOUR_REGION"

S3_ENDPOINT="YOUR_S3_ENDPOINT"
S3_BOOK_COVERS_BUCKET_NAME="THE_BUCKET_NAME_FOR_BOOK_COVERS"
S3_PROFILE_PICTURES_BUCKET_NAME="THE_BUCKET_NAME_FOR_PROFILE_PICTURES"
S3_AUTHOR_IMAGES_BUCKET_NAME="THE_BUCKET_NAME_FOR_AUTHOR_IMAGES"

PLACEHOLDER_FOR_COVER_IMAGE="THE_URL_TO_THE_PLACEHOLDER_IMAGE_FOR_BOOK_COVERS"
PLACEHOLDER_FOR_PROFILE_PICTURE="THE_URL_TO_THE_PLACEHOLDER_IMAGE_FOR_PROFILE_PICTURES"
PLACEHOLDER_FOR_AUTHOR_IMAGE="THE_URL_TO_THE_PLACEHOLDER_IMAGE_FOR_AUTHOR_IMAGES"