.search-bar {
    margin-top: 25px;
    padding-top: 350px;
    width: 54%;
    margin: auto auto;
}

body {
    font-family: "Modern No. 20";
}

.search-bar-bg {
    margin: auto auto;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: 35px;
}

.book-card {
    margin: auto;
}

.books-display-main {
    padding: 0;
    margin: 0;
}

.book-col {
    flex: 0 0 12.5%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
}

.row {
    margin-left: 300px;
    margin-right: 250px;
}